/*regra css principal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    height: 100vh;  
    color: white;  
    background: #EBF2F5;
}

:root {
    font-size:62.5%;
}

body, input, button, textare {
    font: 400 1.8rem/1 'Nunito', sans-serif /*atributos de fonte weight(400), size(1.8rem), heigth(1) e family(Nunito)*/
}



